body{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    height: 5000px;
}
nav{
    height: 63px;
}
.image{
    width: 100%;
    height: 60vh;
    background-image: url(../images/pexels-cedric-fauntleroy-4269359.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
   }

   .image2{
    width: 100%;
    height: 70vh;
    background-image: url(../images/pexels-cedric-fauntleroy-4269355.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
   }

   .main-bg {
    background: var(--main-bg) !important;
  }
  
  input:focus, button:focus {
    border: 1px solid var(--main-bg) !important;
    box-shadow: none !important;
  }
  
  .form-check-input:checked {
    background-color: var(--main-bg) !important;
    border-color: var(--main-bg) !important;
  }
  
  .card, .btn, input{
    border-radius:0 !important;
  }
  
   
   